@import url('../cores.css');
header{
    background-color: var(--cor1);
    width: 100vw;
    height: 90px;

    display: flex;
    justify-content: space-between;
}
header  h1{
    margin: 0px;
}
header > div{
    display: flex;
    align-items: center;
    height: 100%;
}
header > div#pes > div#pesConteiner{
    background-color: var(--cor3_2);
    width: 30vw;
    max-width: 400px;
    height: fit-content;
    padding: 2px 10px;
    display: flex;
    align-items: center;

    border-radius: 5px;
}
header > div#pes > div#pesConteiner > div#pesSvg{
    height: 16px;
}
header > div#pes > div#pesConteiner > input{
    background-color: var(--cor3_2);
    width: 80%;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
header > nav{
    padding: 0px 20px;

    display: flex;
    align-items: center;
    
}
header > nav > div{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
header > nav > div > div#Svg{
    height: 20px;
    padding: 0px 10px 0px 0px;
}