@import url('../cores.css');
main > div#promocao{
    background-color: var(--cor1);
    overflow: hidden;
}
main > div#promocao > div.produtosCarrossel{
    display: flex;
    align-items: center;
    padding: 20px 10px;
}
main > div#promocao > div.produtosCarrossel > div#carrosselFun{
    display: flex;
    gap: 10px;
}
main > div#promocao > div.produtosCarrossel > div#carrosselFun > div{
    width: 20vw;
    min-height: 170px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    
}
main > div#promocao > div.produtosCarrossel > div#carrosselFun > div > div{
    width: 19vw;
    height: 200px;

    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition-duration: 0.3s;
}
main > div#promocao > div.produtosCarrossel > div#carrosselFun > div:hover > div{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    width: 20vw;
    height: 170px;
}
main > div#promocao > div.produtosCarrossel > div#carrosselFun > div:nth-child(1){
    margin-left: calc(-20vw - 17px);
}
main > div#promocao > div.produtosCarrossel > div.promocaoButtons{
    background-color: rgba(3, 255, 79, 0);
    color: rgba(255, 0, 0, 0);
    height: 160px;
    width: 50px;
    
    display: flex;
    align-items: center;

    position: absolute;
    padding: 0px 20px;

    cursor: pointer;
    transition-duration: 0.3s;
}
main > div#promocao > div.produtosCarrossel > div.promocaoButtons:hover{
    color: var(--cor5);
    transition-duration: 0.3s;
}
main > div#promocao > div.produtosCarrossel > div.promocaoButtons:nth-child(1){
    left: calc(100vw - 65px);
}
main > div#promocao > div.produtosCarrossel > div.promocaoButtons > div{
    width: 30px;
	height: 30px;
	box-sizing: border-box;
	position: absolute;
	left: 30%;
	top: 50%;
	transform: rotate(-135deg);
    
    cursor: pointer;


	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa00;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
		position: relative;
		top: -105%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa00;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
}
main > div#promocao > div.produtosCarrossel > div.promocaoButtons:nth-child(1) > div{
	transform: rotate(45deg);
    left: 3%;
}
main > div#promocao > div.produtosCarrossel > div.promocaoButtons:hover > div::after{
        transform: rotate(45deg);
		border-color: orange;
		height: 120%;
}
main > div#promocao > div.produtosCarrossel > div.promocaoButtons:hover > div::before{
        border-color: orange;
		transform: scale(.8);
}

main div#banners {
    min-width: 99vw;
    max-height: 500px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;

    background-color: var(--cor1);
    overflow: hidden;
}
main div#banners div#allBanners{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration:0.3s ;
}
main div#banners div#allBanners div.banners:nth-child(1){
    margin-left: -100vw;
}
main div#banners div#allBanners div.banners{
    width: 99vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 5px;
    transition-duration:0.3s ;
}
main div#banners div.banners{
    width: 500px;

}
main div#banners img{
    width: 100%;
    max-height: calc(100% -0px);
    padding: 0 10px;
    display: block;

    
}

main div#banners div.botoesBanner{
    position: absolute;

    width: 100px;
    height: 60px;
}
main div#banners div#botaoBanner1{
    right: 0px;
    rotate: 90deg;
}
main div#banners div#botaoBanner2{
    right: calc(95vw);
    rotate: -90deg;
    margin-top: 50px;
}
main div#banners div.botoesBanner > div{
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: rotate(-45deg);
    
    cursor: pointer;


	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
		position: relative;
		top: -105%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color: orange;
		height: 120%;
	}
	&:hover::before {
		border-color: orange;
		transform: scale(.8);
		
	}
	
}
main div#banners div#botaoBanner1 div{
    margin-left: -20px;
}
main div#banners div#botaoBanner2 div{
    margin-left: -20px;
}

main div.promocaoProdutosCarrossel{
	display: flex;
	align-items: center;
    	justify-content: center;

}
main div.promocaoProdutosCarrossel img.imgCarrossel{
	width: 50%;	
}

















